<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/layui-v2.5.5/layui/css/layui.css">
<script type="text/javascript" src="../static/layui-v2.5.5/layui/layui.js"></script>
<style>
  #demo2{
    margin: 0 auto;
   /*  --position: absolute; */
   text-align:center;
   width: 60%;
  }
  #demo3{
    margin: 0 auto;
   --position: absolute; 
   text-align:center;
   width: 60%;
  }

  </style>
<body>
  <div id ="searchdemo">
  <div id="demo2">
    <form class="layui-form" action=""> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
      <div class="layui-form-item">
          <div class="layui-inline">
          <label class="layui-form-label" style="width:30px">区</label>
          <div class="layui-input-inline" style="width:95px;" >
            <select name="area1" lay-filter="qu" id="selectqu"  >
              <option value="" selected=""></option>
              <option value="黄浦">黄浦</option>
              <option value="静安" >静安</option>
              <option value="长宁">长宁</option>
              <option value="浦东新">浦东新</option>
              <option value="虹口">虹口</option>
              <option value="宝山">宝山</option>
              <option value="杨浦">杨浦</option>
              <option value="闵行">闵行</option> 
              <option value="嘉定">嘉定</option>
              <option value="金山">金山</option>
              <option value="奉贤">奉贤</option>
              <option value="青浦">青浦</option>
            </select>
          </div>
       </div>
       <div class="layui-inline" >
          <label class="layui-form-label" style="width:30px">类型</label>
          <div class="layui-input-inline" style="width:95px">
            <select name="area1" lay-filter="qu" id="selectlx" >
              <option value="" selected=""></option>
              <option value="住宅">住宅</option>
              <option value="商铺" >商业</option>
              <option value="办公">办公</option>
              <option value="工业">工业</option>
              <option value="科研">科研</option>
              <option value="车位">车位</option>
              <option value="仓储">仓储</option>
            </select>
          </div>
       </div>
          <div class="layui-inline">
            <label class="layui-form-label" style="width:30px">地址</label>
            <div class="layui-input-inline" style="width: 281px">
              <input id="dizhi1" type="text" name="dizhi"  autocomplete="off" placeholder="请输入地址" class="layui-input">
            </div>
          </div>
        </div>
       </div>
       <div id ="demo3">
            <div class="layui-input-block">
              <button type="button" class="layui-btn" style="margin-left: -20px" lay-filter="subm">确定</button>
              <button type="reset" class="layui-btn layui-btn-primary" lay-filter="rend">重置</button>
            </div>
          </div>
          
        </form>
            <div style="text-align: center;">
        <div class="layui-inline">
    <table id="demo" lay-filter="test"></table>
</div>>
    </div>
    <script>
        layui.use([ 'layer', 'table','form','laydate'], function(){
  var $ = layui.jquery;
  var layer = layui.layer //弹层
  ,table = layui.table
  ,form = layui.form,
  laydate=layui.laydate;//表格
  var dz=$(".dizhi1").val();
  var ar=$(".selectqu").val();
  var tlist=table.render({
    elem: '#demo'
    ,url: '/search/datalist/' //数据接口
    ,page: true //开启分页
    ,method:'post'
    ,where:{'dizhi':dz,
    'areaq':ar
    }
    ,limit:50
    ,width: 850
    ,id:"tables"
    ,cols: [[ //表头
      {field: 'id', title: 'ID', fixed: 'left',hide:true}
      ,{field: 'lx', title: '类型', width:80, sort: true}
      ,{field: 'area', title: '区', width:80, sort: true}
      ,{field: 'dizhi', title: '地址', width:250} 
      ,{field: 'mianji', title: '面积', width: 80, sort: true}
      ,{field: 'zongjia', title: '总价', width: 80, sort: true}
      ,{field: 'dj', title: '单价', width: 120, sort: true}
      ,{field: 'down',title: '下载', width: 80,templet: function(d){
        return  '<a href="/search/meida/'+d.down+'" target="_blank" class="layui-table-link">下载</a>'
      }}
      ,{field: 'down', title: '下载', width: 80,templet: function(d){
        return  '<a href="/search/meida/'+d.down+'" target="_blank" class="layui-table-link">下载</a>'
      }}
    ]]
  });

    form.on('reset(rend)',function(data)
    {
      form.render();
    }
    );
        
    form.on('select(qu)',function(data){
      
      ar=data.value;
       tlist.reload({
         where:{
           "areaq":ar
                   }
                   ,page: {
    curr: 2 //重新从第 1 页开始
  }

       });
    });
    });
        </script>
      <script type="text/html" id="titleTpl">
        <a href="/static/{{d}}" class="layui-table-link">下载</a>
      </script>
        <script>

          </Script>
          </div>
</body>
</head>
</html>